@import "../../assets/scss/variables.scss";

.contact-form {
	font-family: $font-body;
	background: $primary;
	padding: 20px 0;
	color: $base;
	ul {
		max-width: 400px;
		margin: auto;
	}
	li {
		margin-bottom: 20px;
	}
}

.contact-form input,
.contact-form textarea {
	border: none;
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	font-family: $font-body;
	box-sizing: border-box;
}

.contact-form__item label {
	display: block;
	font-size: 12px;
	line-height: 25px;
}

.submit-btn {
	background: $secondary;
	font-size: 20px;
	line-height: 30px;
	color: $base;
	transition: all 0.3s ease;
	cursor: pointer;
	&:hover {
		background: $neutral-3;
		color: $neutral;
	}
}
