@import "../../assets/scss/variables.scss";

body {
	position: relative;
	background: $base;
	font-family: $font-body;
	margin: auto 0;
}

h1,
h2,
h3 {
	font-family: $font-title;
	color: $primary;
}

.content-layout {
	max-width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	margin: 0 auto;
}
